<style type="text/css">
	.form-error {
		color: red;
		font-weight: bold;
		padding-bottom: 10px;
	}
	.form-error ul {
		margin: 0;
	}
</style>

{# Etape 2 #}
<div class="card step_2">
	<div class="card-content">
		<span class="card-title color_product_primary center-align">Étape 2</span>
		<p class="h6 center-align">Remplissez ce formulaire</p>
		<div class="form-wrapper">
			<div class="input-field">
				{{ form_widget(form.billingAdress.firstName) }}
				{{ form_label(form.billingAdress.firstName) }}
				<div class="form-error">{{ form_errors(form.billingAdress.firstName) }}</div>
			</div>
			<div class="input-field">
				{{ form_widget(form.billingAdress.lastName) }}
				{{ form_label(form.billingAdress.lastName) }}
				<div class="form-error">{{ form_errors(form.billingAdress.lastName) }}</div>
			</div>
			<div class="input-field">
				{{ form_widget(form.billingAdress.adress) }}
				{{ form_label(form.billingAdress.adress) }}
				<div class="form-error">{{ form_errors(form.billingAdress.adress) }}</div>
			</div>
			<div class="input-field">
				{{ form_widget(form.billingAdress.additionalAdress) }}
				{{ form_label(form.billingAdress.additionalAdress) }}
				<div class="form-error">{{ form_errors(form.billingAdress.additionalAdress) }}</div>
			</div>
			<div class="input-field">
				{{ form_widget(form.billingAdress.city) }}
				{{ form_label(form.billingAdress.city) }}
				<div class="form-error">{{ form_errors(form.billingAdress.city) }}</div>
			</div>
			<div class="input-field">
				{{ form_widget(form.billingAdress.zipCode) }}
				{{ form_label(form.billingAdress.zipCode) }}
				<div class="form-error">{{ form_errors(form.billingAdress.zipCode) }}</div>
			</div>
			<div class="input-field">
				{{ form_widget(form.billingAdress.country) }}
				{{ form_label(form.billingAdress.country) }}
				<div class="form-error">{{ form_errors(form.billingAdress.country) }}</div>
			</div>
			<div class="input-field">
				{{ form_widget(form.billingAdress.phoneNumber) }}
				{{ form_label(form.billingAdress.phoneNumber) }}
				<div class="form-error">{{ form_errors(form.billingAdress.phoneNumber) }}</div>
			</div>
			<div class="input-field">
				{{ form_widget(form.customer.email.first) }}
				{{ form_label(form.customer.email.first) }}
				<div class="form-error">{{ form_errors(form.customer.email.first) }}</div>
			</div>
			<div class="input-field">
				{{ form_widget(form.customer.email.second) }}
				{{ form_label(form.customer.email.second) }}
				<div class="form-error">{{ form_errors(form.customer.email.second) }}</div>
			</div>
	<div class="form-error">{{ form_errors(form) }}</div>

		</div>
	</div>
	<ul class="collapsible">
		<li>
			<div class="collapsible-header">
				<i class="material-icons">markunread_mailbox</i>Adresse de livraison différente ?</div>
			<div class="collapsible-body">
				<div class="input-field">
					{{ form_widget(form.shippingAdress.firstName) }}
					{{ form_label(form.shippingAdress.firstName) }}
					<div class="form-error">{{ form_errors(form.shippingAdress.firstName) }}</div>
				</div>
				<div class="input-field">
					{{ form_widget(form.shippingAdress.lastName) }}
					{{ form_label(form.shippingAdress.lastName) }}
					<div class="form-error">{{ form_errors(form.shippingAdress.lastName) }}</div>
				</div>
				<div class="input-field">
					{{ form_widget(form.shippingAdress.adress) }}
					{{ form_label(form.shippingAdress.adress) }}
					<div class="form-error">{{ form_errors(form.shippingAdress.adress) }}</div>
				</div>
				<div class="input-field">
					{{ form_widget(form.shippingAdress.additionalAdress) }}
					{{ form_label(form.shippingAdress.additionalAdress) }}
					<div class="form-error">{{ form_errors(form.shippingAdress.additionalAdress) }}</div>
				</div>
				<div class="input-field">
					{{ form_widget(form.shippingAdress.city) }}
					{{ form_label(form.shippingAdress.city) }}
					<div class="form-error">{{ form_errors(form.shippingAdress.city) }}</div>
				</div>
				<div class="input-field">
					{{ form_widget(form.shippingAdress.zipCode) }}
					{{ form_label(form.shippingAdress.zipCode) }}
					<div class="form-error">{{ form_errors(form.shippingAdress.zipCode) }}</div>
				</div>
				<div class="input-field">
					{{ form_widget(form.shippingAdress.country) }}
					{{ form_label(form.shippingAdress.country) }}
					<div class="form-error">{{ form_errors(form.shippingAdress.country) }}</div>
				</div>
				<div class="input-field">
					{{ form_widget(form.shippingAdress.phoneNumber) }}
					{{ form_label(form.shippingAdress.phoneNumber) }}
					<div class="form-error">{{ form_errors(form.shippingAdress.phoneNumber) }}</div>
				</div>
			</div>
		</li>
	</ul>
</div>
{# Etape 3 #}
<div class="card step_3">
	<div class="card-content">
		<span class="card-title color_product_primary center-align">Étape 3</span>
		<p class="h6 center-align">Choisissez un paiement</p>
		<ul class="collapsible">
			<li class="active">
				<div class="collapsible-header">
					<i class="fas fa-credit-card"></i>Payer avec la Carte Bancaire</div>
				<div class="collapsible-body card-form">
					<div class="row">
						<div class="center-align">
							<button type="submit" name="order[paymentMethod]" value="stripe" class="btn-large btn-block waves-effect waves-light">Continuer</button>
							<p>J'accepte les
								<a href="https://feelwellshop.com/fr/conditions-generales-de-ventes" target="_blank">conditions générales de vente</a>
							</p>
							<img class="responsive-img monetico" src="{{asset('images/paiement-securise-stripe.jpeg')}}" alt="Stripe protège vos achats">
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="collapsible-header">
					<i class="fab fa-cc-paypal"></i>Payer avec Paypal</div>
				<div class="collapsible-body">
					<div class="row">
						<div class="center-align">
							<button type="submit" name="order[paymentMethod]" value="paypal" class="btn-large btn-block waves-effect waves-light">Continuer sur PayPal</button> 
							<p>J'accepte les
								<a href="https://feelwellshop.com/fr/conditions-generales-de-ventes" target="_blank">conditions générales de vente</a>
							</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
